# Servidor Web para lidar com as rotas da API
Flask

# Biblioteca para gerenciar o ambiente de produção do Flask
# Ele é mais robusto e performático que o servidor embutido do Flask
gunicorn

# Biblioteca para manipular JSON Web Tokens (JWT)
# Essencial para a segurança e controle de níveis de acesso (admin/user)
pyjwt

# Ferramenta para gerenciar a comunicação SSH e os comandos root na VPS
# (A lógica de alto privilégio que movemos para admin_core.py)
paramiko

# Para facilitar as requisições HTTP se o servidor precisar chamar APIs externas
# (Embora não seja estritamente necessário agora, é bom para futuras expansões)
requests

# Biblioteca para ler variáveis de ambiente de um arquivo .env (ótimo para 
# carregar a chave secreta do JWT e credenciais root de forma segura)
python-dotenv

